<div class="main-footer">
	<div class="pull-right hidden-xs">
	  Coded with Love.
	</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2017 Wong Lok.</strong> All Rights Reserved.
</div>
<!-- To the right -->


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" ng-class="{ 'control-sidebar-open': $ctrl.UI.rightbar.open }">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  <li ng-class="{ 'active': $ctrl.UI.bartab1.open }"><a ng-click="$ctrl.UI.bartab1.toggle()" data-toggle="tab"><i class="fa fa-home"></i></a></li>
  <li ng-class="{ 'active': $ctrl.UI.bartab2.open }"><a ng-click="$ctrl.UI.bartab2.toggle()" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content" ng-if="$ctrl.UI.rightbar.open">
  <!-- Home tab content -->
  <div class="tab-pane" ng-class="{ 'active': $ctrl.UI.bartab1.open }">
    <h3 class="control-sidebar-heading">Recent Activity</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="#" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]">
          <i class="menu-icon fa fa-birthday-cake bg-red"></i>

          <div class="menu-info" >
            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

            <p>Will be 23 on April 24th</p>
          </div>
        </a>
      </li>
    </ul>
    <!-- /.control-sidebar-menu -->

    <h3 class="control-sidebar-heading">Tasks Progress</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript::;">
          <h4 class="control-sidebar-subheading">
            Custom Template Design
            <span class="pull-right-container">
              <span class="label label-danger pull-right">70%</span>
            </span>
          </h4>

          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
          </div>
        </a>
      </li>
    </ul>
    <!-- /.control-sidebar-menu -->

    <div class="tall-50px"></div>
    <div class="tall-50px"></div>

  </div>
  <!-- /.tab-pane -->
  <!-- Stats tab content -->
  <div class="tab-pane"  ng-class="{ 'active': $ctrl.UI.bartab2.open }">	<form method="post">
	      <h3 class="control-sidebar-heading">General Settings</h3>

	      <div class="form-group">
	        <label class="control-sidebar-subheading">
	          Report panel usage
	          <input type="checkbox" class="pull-right" checked>
	        </label>

	        <p>
	          Some information about this general settings option
	        </p>
	      </div>
	      <!-- /.form-group -->
	    </form>
  </div>
  <!-- /.tab-pane -->
  
  <!-- Settings tab content -->
  <div class="tab-pane" id="control-sidebar-settings-tab" >
    
  </div>
  <!-- /.tab-pane -->
</div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>


<!-- <div class="container">
  <p>OK-Wealthy v2.1.0 |
    Coded with love.
  </p>
</div>
 -->