#nprogress {
    pointer-events: none
}

#nprogress .bar {
	background-color: #21FFEB;
    background: linear-gradient(45deg, #9682e6 0%, #49e1e8 47%, #77eafd 100%);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d,0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px,-4px);
    -ms-transform: rotate(3deg) translate(0px,-4px);
    transform: rotate(3deg) translate(0px,-4px)
}

#nprogress .spinner {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	
}


#nprogress .spinner-icon {
    width: 50vmin;
    height: 50vmin;
    box-sizing: border-box;
    border: solid 1px transparent;
    
    // border-top-color: rgba(206,43,43,0.2);
    // border-left-color: rgba(24,176,222,0.2);

    background: -webkit-linear-gradient(bottom left, rgba(83, 43, 206, 0.2) 0%, rgba(24, 222, 48, 0.2) 100%);
    background: -o-linear-gradient(bottom left, rgba(83, 43, 206, 0.2) 0%, rgba(24, 222, 48, 0.2) 100%);
    background: linear-gradient(to top right, rgba(83, 43, 206, 0.2) 0%, rgba(24, 222, 48, 0.2) 100%);


    border-radius: 50%;
    -webkit-animation: nprogress-spinner 450ms linear infinite;
    animation: nprogress-spinner 450ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner {
    position: absolute
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
