<div class="ng-cloak fake-body d-hold-transition hold-header-transition skin-blue sidebar-mini fixed" sidebar-open d-ng-class="{ 'sidebar-open': $ctrl.UI.sidebar.open }" >
  <div class="wrapper">

    <navbar></navbar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{ 'ui.home' | translate }}
          <small>{{ 'ui.welcometo' | translate }} OK-Wealthy</small>
        </h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-cog fa-spin"></i> {{ 'ui.platform' | translate }}</li>
          <li class="active">{{ 'ui.home' | translate }}</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        
        {{ { hk: 'hk', en: 'en' } | to:$ctrl }}
        <!-- Your Page Content Here -->
        <!-- <div class="fake-tall"></div> -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer></footer>
    


  </div>
  <!-- ./wrapper -->


</div>
<!-- fakebody -->



<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
 -->