<div class="fake-body hold-transition register-page">

  <div class="register-box">
    <div class="register-logo">
      <a ui-sref="main"><b>OK-Wealthy</b><br>{{ 'ui.physicalweb' | translate }}</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">{{ 'ui.registernewuser' | translate }}</p>

      <form ng-submit="vm.register(form);">
        <div class="form-group has-feedback" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <input type="text" name="name" class="form-control" placeholder="{{ 'ui.fullname' | translate }}" ng-model="vm.user.name"
                 required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>

        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <input type="email" class="form-control" placeholder="{{ 'ui.email' | translate }}" name="email" ng-model="vm.user.email"
                 required
                 mongoose-error>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <input type="password" class="form-control" placeholder="{{ 'ui.password' | translate }}" name="password" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>
        <div class="form-group has-feedback"  ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <input type="password" class="form-control" name="confirmPassword" placeholder="{{ 'ui.retypepassword' | translate }}" name="confirmPassword" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required>
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox">
              <input type="checkbox" required style="margin-left: 0px;"> 
              <label>
                {{ 'ui.iagreeto' | translate }} <a ui-sref="terms">{{ 'ui.terms' | translate }}</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'ui.signup' | translate }}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>


      <div class="social-auth-links text-center">
        <p>- {{ 'ui.or' | translate }} -</p>
        <a ng-click="vm.oAuth('facebook')" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> {{ 'ui.usefb' | translate }}</a>
        <a ng-click="vm.oAuth('google')" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> {{ 'ui.usegplus' | translate }}</a>
      </div>

      <a ui-sref="login" class="text-center">{{ 'ui.ialreadyhaveamembership' | translate }}</a><br>
      <a ng-click="vm.Trans.toggle()">中文 / English</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.register-box -->

</div>











<div ng-if="false" class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Login
          </a>
        </div>

        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons classes="btn-block"></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
