.arhaAphorism .ui-select-highlight{
	color: green !important;
}

.myAphorism p{
	margin: 0;
}

.aphorism-mc .font-mc{
	font-size: 13px;
}

.aphorism-mc .ui-select-match .close{
	font-size: 2.15em !important;
}

.max950{
  max-width: 950px !important;
  margin: 0px auto;
}

.w100{
  width: 100% !important;
}

.text-center{
  text-align: center;
}

.catalog-grid{
    min-width: 500px;
	width: 100%;
	max-width: 100%;
    height: 500px;
}

.cell-middle{
	display: flex;
	justify-content: center;
	align-items: center;
}

.isRed {
	color: red !important; 
}
